body {
    margin: 0;
    font-family: "Almarai", sans-serif;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.font {
    font-family: "Almarai", sans-serif;
    background-color: #eaedf7;
}

.hieght-search {
    height: 80vh;
}

.logo {
    height: 46px;
    width: 50px;
}

.login-img {
    height: 20px;
    width: 20px;
}

.nav-text {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.sub-tile {
    color: #272727;
    font-family: Almarai;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
}

.slider-background {
    background: linear-gradient(173.68deg, #ffedf5 0%, #ffd5e7 100%);
    height: "296px";
    width: 294.26px;
}

.slider-background2 {
    background: linear-gradient(174.76deg, #d3deff 0%, #a8baff 100%);
    height: "296px";
    width: 294.26px;
}

.slider-background3 {
    background: linear-gradient(176.69deg, #f8f0d5 0%, #efdcab 100%);
    height: "296px";
    width: 294.26px;
}

.slider-background4 {
    background: linear-gradient(175.24deg, #b2e8f0 0%, #7bccdc 100%);
    height: "296px";
    width: 294.26px;
}

.slider-img {
    height: 296px;
    width: 313.53;
}

.slider-title {
    color: #915970;
    font-family: Almarai;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}

.slider-text {
    color: #915970;
    font-family: Almarai;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 53px;
    text-align: center;
}

.allCard {
    position: relative;
    height: 130px;
    width: 130px;
}

.category-card {
    height: 140px;
    width: 100%;
    border-radius: 50%;
    opacity: 0.3;
}

.category-card-img {
    max-width: 110px;
    max-height: 100px;
    position: absolute;
    top: 20%;
    left: 10%;
}

.category-card-text {
    color: #555550;
    font-family: Almarai;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.category-header {
    background-color: #232f3e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* products card style */  
.card-title {
    color: #555550;
    font-family: Almarai;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
}

.card-price {
    color: #272727;
    font-family: Almarai;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
}

.card-currency {
    color: #555550;
    font-family: Almarai;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}

.card-rate {
    color: #ffc107;
    font-family: Almarai;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
}

.product-details {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px 0;
    margin: 20px 0;
}

.spec-table {
    border: 1px solid #ededed !important;
}

.spec-table th {
    width: 25% !important;
    background-color: #E0E0E0 !important;
}

.spec-table th,
.spec-table td {
    padding: 8px !important;
}
/* end of card style */

.shopping-now {
    padding: 5px;
    height: 35px;
    width: 90px;
    color: #6259ca;
    text-decoration: none;
    text-align: center;
    border: 1px solid #6259ca;
    border-radius: 14px;
}

.shopping-now:hover {
    background-color: #6259ca;
    border: 1px solid #6259ca;
    color: #FFFFFF;
    border-radius: 14px;
    cursor: pointer;
}

/* discount setion */
.discount-backcolor {
    height: 130px;
    border-radius: 8px;
    background: radial-gradient(circle, #767676 0%, #4d4f50 100%, #494c4d 100%);
}

.discount-title {
    color: #ffffff;
    font-family: 'Almarai';
    font-size: 22px;
    /* font-weight: bold; */
    letter-spacing: 0;
    line-height: 39px;
}

.dicount-img {
    max-height: 130px;
    max-width: 80%;
}
/* end discount */

/* footer */
.back-top-background {
    background-color: #37475A;
}

.top-footer-background {
    background-color: #232f3e;
}

.footer-background {
    background-color: #131a22;
}

.footer {
    width: 100%;
}

.footer-shroot {
    color: #979797;
    font-family: Almarai;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 18px;
    cursor: pointer;
}

.footer-phone {
    color: #979797;
    font-size: 15px;
    letter-spacing: 1px;
}

.footer-link {
    color: #C7C7C7;
    text-decoration: none;
    font-size: 14px;
}

.footer-link:hover {
    color: #C7C7C7;
    text-decoration: underline;
}

.footer-line {
    content: ' ';
    color: #E0E0E0;
    border-top: 1px solid #3a4553;
}

.social-img {
    width: 30px;
    height: 30px;
}
/* end footer */

/* card filter style */
.search-count-text {
    color: #979797;
    font-family: Almarai;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
}

.search-count-text .drop-down-menu_EMFQP {
    left: 75% !important;
}

.card-filter {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-filter-item {
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
}

.card-filter-item:hover {
    background-color: #6259ca;
    color: #ffffff;
}
/* end card filter */

/* products details page */
.product-gallary-card {
    height: 670px !important;
    width: 370px;
    border-radius: 29px;
    background-color: #ffffff;
}

.cat-text {
    color: #979797;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
    text-align: right;
}

.cat-title {
    color: #555550;
    font-family: Almarai;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
}

.cat-rate {
    color: #ffc107;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
}

.barnd-text {
    color: #555550;
    font-family: "Almarai";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
}

.color {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.product-description {
    color: #555550;
    font-family: Cairo;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    text-align: right;
}

.product-price {
    height: 35px;
    width: 150px;
    text-align: center;
    border-radius: 9px;
    color: #555550;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
}

.product-cart-add {
    cursor: pointer;
    text-align: center;
    height: 35px;
    border-radius: 9px;
    border: none;
    background-color: #272727;
    color: #ffffff;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: normal;
    transition: all 0.3s;
}

.product-cart-add:hover {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.cart-table-div {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
}

.cart-table,
.cart-table th,
.cart-table td {
    border: 1px solid #ededed;
    vertical-align: middle;
}

.cart-qty-add {
    background-color: #eaedf7 !important;
    color: #272727 !important;
    border: solid 1px #eaedf7 !important;
    padding: 4px 15px;
    cursor: pointer;
}

.cart-qty-show {
    background-color: #FFFFFF !important;
    color: #272727 !important;
    border: solid 1px #eaedf7 !important;
    padding: 4px 10px;
    text-align: center;
    width: 60px;
}
/* products gallary slide style */
.image-gallery-slide {
    width: 372px;
    height: 470px;
    border-radius: 29px;
}
/* end gallary */
.product-card {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: none !important;
    background-color: #FFFFFF;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.product-title-img {
    text-decoration: none;
}

.product-title {
    text-decoration: none;
}

.product-title:hover > div {
    color: #6259ca;
}
/* end products page */

/* pagination */
.page-link {
    background-color: #f9f9f9 !important;
    color: #6259ca !important;
    border-radius: 10px !important;
    border: solid 1px 272727 !important;
}

.page-link:hover {
    background-color: #6259ca !important;
    color: white !important;
    border: solid 1px 272727 !important;
}

.custom-page-link {
    border-radius: 0 !important;
}

.pagination-active {
    background-color: #6259ca !important;
    color: #FFFFFF !important;
}
/* end pagination */

/* category header */
.cat-header {
    height: 100%;
    background-color: white;
}

.cat-text-header {
    color: #FFFFFF;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
    padding: 3px 0;
    margin-left: 17px;
    cursor: pointer;
}

.cat-text-header:hover {
    color: #C7C7C7;
}

.cat-text-title {
    color: #000000;
    font-family: "Almarai";
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px 5px;
    margin-left: 17px;
}

.cat-text-side {
    color: #000000;
    font-family: "Almarai";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
    padding: 10px 5px;
    margin-left: 17px;
    cursor: pointer;
}

.cat-text-side:hover {
    color: #9B9B9B;
}

.category-side-nav {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Almarai';
}

.category-side-close {
    display: flex;
}

.category-side-close i {
    cursor: pointer;
    font-size: 24px !important;
}

.category-side-line {
    border-top: 1px solid #C7C7C7;
}

.cat-user-img {
    height: 40px;
    width: 40px;
}
/* end categoery header */

/* login and register style */
.user-input {
    outline: none;
    box-sizing: border-box;
    height: 37px;
    width: 375px;
    border: 1px solid #6259ca;
    border-radius: 4px;
}

.title-login {
    color: #6259ca;
    font-family: Almarai;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
}

.btn-login {
    height: 40px;
    width: 374px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #6259ca;
}

/* .btn-login:hover {
    color: rgb(206, 204, 204);
} */
/* end login and register */

/* addressed */
.user-address-link {
    text-decoration: none;
}

/* cart page */
.cart-title {
    color: #555550;
    font-family: Almarai;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
}

.cart-item-body {
    height: 229px;
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
}

.checkout-div {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
}

.checkout-div h6 {
    font-weight: 700;
    text-align: center;
}

.checkout-btn {
    cursor: pointer;
    border: none;
    height: 35px;
    padding: 10px 20px;
    border-radius: 0 !important;
    background-color: #6259ca;
    color: #ffff !important;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: normal;
}

.checkout-price {
    border: 1px solid #e4e7f5;
    height: 35px;
    padding: 10px 20px;
    border-radius: 0 !important;
    background-color: #FFFFFF;
    color: #000000 !important;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: normal;
}

.copon-input {
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 90%;
    border: 1px solid #e8e8f7;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: normal;
}

.copon-btn {
    cursor: pointer;
    border: none;
    height: 40px;
    padding-top: 5px;
    border-radius: 5px !important;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px !important;
    border-radius: 0 !important;
    background-color: #6259ca;
    color: #ffff !important;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: normal;
}

.cart-checkout {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
}

.payment-radio-btn {
    background-color: #e2e3ea;
    border: 1px solid #C0C0C0;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.payment-radio-btn:focus-within {
    background-color: #6259ca;
    border: 1px solid #6259ca;
    transform: scale(0.9);
    color: #FFFFFF;
}

.payment-radio-btn input {
    opacity: 0;
    position: relative;
    top: 2px;
}
/* cart end */

/* admin style  */
.sidebar {
    height: 660px;
    width: 100%;
    border-radius: 21px;
    background-color: #ffffff;
}

.admin-side-text {
    color: #272727;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.admin-side-text:hover {
    background-color: #272727;
    color: white;
    font-size: 14px;
}

.admin-content-text {
    color: #555550;
    font-family: Almarai;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
}

.item-delete-edit {
    color: #979797;
    font-family: "Almarai";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;
    cursor: pointer;
}

.text-form {
    color: #979797;
    font-family: "Almarai";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
}

.input-form {
    height: 37px;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.input-form-area {
    width: 100%;
    border: 1px solid #6259ca !important;
    border-radius: 10px;
    background-color: #f9f9f9;
    outline: none;
    resize: none;
}

.select {
    box-sizing: border-box;
    height: 40px;
    color: #979797;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
}

.btn-save {
    border: none;
    color: white;
    height: 46px;
    width: 150px;
    border-radius: 9px;
    background-color: #272727;
}

.btn-save:hover {
    color: rgb(164, 164, 164);
}

.btn-a {
    border: none;
    color: white;
    height: 45px;
    border-radius: 9px;
    background-color: #272727;
}

.btn-a:hover {
    color: rgb(164, 164, 164);
}

.custom-btn {
    border: none;
    color: white;
    height: 40px;
    border-radius: 4px;
    background-color: #6259ca;
    width: 100%;
    cursor: pointer;
}

/* .custom-btn:hover {
    background-color: transparent;
    color: #000000;
    border: 1px solid #6259ca;
} */
/* end admin  */

/* rates  */
.rate-container {
    height: 100%;
    width: 100%;
    padding-bottom: 12px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}

.rate-count {
    color: #979797;
    font-family: "Almarai";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 23px;
}

.rate-name {
    color: #555550;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
}

.rate-description {
    color: #555550;
    font-family: "Almarai";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
}
/* end rate */

/* user order */
.user-order {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}

.order-title {
    color: #272727;
    font-family: "Almarai";
    font-size: 16px;
    font-weight: bold;
}

.stat {
    color: #979797;
    font-family: Cairo;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;
}
/* end user order */

/* user Address */
.user-address-card {
    /* height: 151px; */
    width: 100%;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}

.btn-add-address {
    border: none;
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 9px;
    background-color: #272727;
}
/* user address */

/* user card data */
.user-data {
    height: 270px;
    width: 100% i !important;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}
/* end user data */

/* filter side style */
.filter-title {
    color: #555550;
    font-family: "Almarai";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
}

.filter-sub {
    color: #555550;
    font-family: "Almarai";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px;
    text-align: center;
}

.filter-num-inp {
    width: 100px;
    height: 25px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 10px;
}

.filter-num-inp:focus {
    outline: none;
    border: 1px solid #9C9C9C;
}
/* end filter */

/* admin alyout */
.admin-layout-title {
    background-color: #303c54;
    text-align: center;
    color: #dde9d7;
    padding: 10px 10px;
    height: 60px;
}

.admin-layout {
    background-color: #e4e7f5;
}

.admin-sidebar {
    background-color: #3c4b64;
    min-height: 800px;
    height: 100%;
}

.admin-sidebar a:hover {
    background-color: #46546c !important;
}

.admin-side-link {
    color: #dde9d7;
    font-family: "Almarai";
    padding: 0.8445rem 1rem;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.admin-side-link:hover {
    background-color: #46546c;
    font-size: 18px;
}

.admin-side-link-active {
    color: #dde9d7;
    font-family: "Almarai";
    padding: 0.8445rem 1rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #55698d !important;
}

.admin-navbar {
    border-bottom: 1px solid #e1e6f1;
    box-shadow: -7.829px 11.607px 20px 0 hsl(244deg 8% 59% / 9%);
    left: 0;
    padding-left: 240px;
    position: fixed;
    width: 100%;
    height: 60px;
    background: #FFFFFF !important;
}

.admin-user-img {
    height: 35px;
    width: 35px;
}

.dropdown-toggle::after {
    display: none !important; 
}

.admin-user-drop-menu .dropdown-menu {
    border: 1px solid #E0E0E0;
    bottom: auto;
    box-shadow: -8px 12px 18px 0 rgb(21 21 62 / 30%);
    right: auto;
    padding: 0 !important;
    position: absolute;
    left: 10px;
    top: 53px;
    width: 230px;
}

.admin-user-drop-menu .admin-drop-item {
    padding: 20px 20px 15px;
    background-color: #fff;
    /* box-shadow: -8px 12px 18px 0 rgb(21 21 62 / 30%); */
    color: #8f9cc0;
    font-size: .875rem;
    list-style: none;
    margin: 0.125rem 0 0;
    min-width: 10rem;
    padding: 0.5rem 0;
}

.admin-nav-drop {
    text-align: right !important;
    display: flex !important;
    align-items: center !important;
    background-color: transparent !important;
    border: 0 !important;
    clear: both !important;
    color: #647194 !important;
    display: block !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    padding: 8px 15px !important;
    white-space: nowrap !important;
    width: 100% !important;
}

.admin-nav-drop:hover {
    background-color: #E0E0E0 !important;
}

/* notification dropdown */
.admin-notif-drop-menu .dropdown-menu {
    border: 1px solid #E0E0E0;
    bottom: auto;
    box-shadow: -8px 12px 18px 0 rgb(21 21 62 / 30%);
    right: auto;
    padding: 0 !important;
    position: absolute;
    left: 10px;
    top: 53px;
    width: 300px !important;
}

.admin-notif-drop-menu .admin-notif-drop-item {
    padding: 20px 20px 15px;
    background-color: #fff;
    color: #3c4858;
    font-size: .875rem;
    list-style: none;
    margin: 0.125rem 0 0;
    min-width: 10rem;
    padding: 1rem 0 0.3rem 0;
}

.admin-notif-drop-menu .admin-notif-drop-item:hover {
    background-color: #fff;
    color: #3c4858;
    cursor: auto;
}

.admin-notif-nav-drop {
    text-align: right !important;
    display: flex !important;
    align-items: center !important;
    background-color: transparent !important;
    border: 0 !important;
    clear: both !important;
    color: #647194 !important;
    display: block !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    padding: 8px 15px !important;
    white-space: nowrap !important;
    width: 100% !important;
}

.media {
    align-items: flex-start !important;
    display: flex !important;
}

.media * {
    font-family: 'Almarai', sans-serif !important;
}

.main-img-user {
    border-radius: 100% !important;
    display: block !important;
    height: 36px !important;
    position: relative !important;
    width: 36px !important;
}

.media img {
    border-radius: 4px !important;
    height: 100%;
    width: 100%;
}

.media-body {
    flex: 1 1 !important;
    font-size: 13px !important;
    margin: 0 15px !important;
}

.media-body p {
    color: #444469 !important;
    line-height: 1.3 !important;
    margin-bottom: 5px !important;
}

.media-body span {
    color: #a8afc7 !important;
    display: block !important;
    font-size: 11px !important;
}

.media-dropdown-footer {
    /* border-top: 1px solid rgba(123,65,216,.1); */
    font-size: 13px;
    padding: 5px;
    text-align: center;
    cursor: default;
}

.media-dropdown-footer * {
    text-decoration: none;
    background-color: transparent;
    color: #6259ca;
}

.admin-notif-nav-drop:hover {
    background-color: #E0E0E0 !important;
}

/* admin product card */
.admin-product-card {
    width: 100% !important;
    height: 350px !important;
    border-radius: 8px !important;
    border: none !important;
    background-color: #FFFFFF !important;
    border: 1px solid rgba(123,65,216,.1) !important;
}

.admin-products-title {
    color: #170c6b;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    position: relative;
    text-indent: -1px;
    padding: 10px 0;
}

/* admin orders */
.admin-order-body {
    width: 95% !important;
    margin: auto;
    height: 229px !important;
    border-radius: 20px !important;
    background-color: #FFFFFF !important;
    border: 1px solid rgba(123,65,216,.1) !important;
    text-decoration: none !important;
}

/* admin order user data */
.admin-order-user-data {
    height: 270px;
    border-radius: 7px;
    background-color: #f4eafb;
    box-shadow: 0 4px 10px 0 rgba(151, 151, 151, 0.5) !important;
}

.admin-order-user-title {
    color: #170c6b;
    font-family: Almarai;
    font-size: 16px;
}

.admin-order-user-content {
    color: #170c6b;
    font-family: Almarai;
    font-size: 16px;
}

/* admin brands */
.admin-add-brand {
    margin: 20px auto !important;
    width: 60% !important;
    padding: 20px !important;
    border-radius: 15px !important;
    background-color: #FFFFFF !important;
    box-shadow: 0 4px 10px 0 rgba(151, 151, 151, 0.5) !important;
    display: flex;
    justify-content: center;
}

.admin-add-input {
    outline: none !important;
    background-color: #FFFFFF !important;
    padding: 8px !important;
    border-radius: 8px !important;
    border: 1px solid #C0C0C0 !important;
    width: 100% !important;
}

.admin-add-select {
    background-color: #FFFFFF !important;
    padding: 11px !important;
    border-radius: 8px !important;
    border: 1px solid #E0E0E0 !important;
    width: 100% !important;
}

.admin-add-multi-select {
    background-color: #FFFFFF !important;
    border-radius: 8px !important;
    border: 1px solid #E0E0E0 !important;
    width: 100% !important;
}

/* .admin-add-input */

/* custom card */
.custom-card {
    background-color: #FFFFFF !important;
    border-radius: 12px !important;
    box-shadow: 0 10px 30px 0 rgba(98, 89, 202, 0.05) !important;
    border: 0 !important;
    /* width: 95%; */
}

.cusom-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card-half {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 767px) {
    .cusom-card-container {
        flex-direction: column;
    }

    .custom-card {
        margin: 10px 0 !important;
        margin-left: 0 !important;
    }
}

.custom-card-item {
    padding: 8px;
}

.card-item-content {
    position: relative;
}

.card-item-content h5 {
    margin-bottom: 5px;
    font-weight: 500;
}

.card-item-content p {
    margin-bottom: 8px !important;
    font-size: 14px !important;
    font-weight: 200 !important;
    color: #8f8fb1 !important;
}

.card-item-content h4 {
    font-weight: 500;
}

.card-item-content small {
    color: #8d95b1;
    font-size: 85%;
    font-weight: 300;
    text-transform: capitalize;
}

.card-item-content .card-icon {
    position: absolute;
    bottom: 0;
    left: 10%;
    background: rgba(98, 89, 202, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item-content .card-icon i {
    color: #6259ca;
    font-size: 18px;
}

.intro-custom-card {
    background-color: #6259ca !important;
    color: #fff!important;
    border: 0 !important;
    margin-bottom: 10px !important;
    border-radius: 15px !important;
}

.intro-custom-card-img {
    bottom: 0px !important;
    left: 0px !important;
    position: absolute !important;
    width: 200px !important;
    height: 180px !important;
}

/* admin recent orders */
.admin-recent-order {
    align-items: flex-start !important;
    display: flex !important;
}

.admin-recent-order * {
    font-family: 'Almarai', sans-serif !important;
}

.order-img-user {
    border-radius: 100% !important;
    display: block !important;
    height: 36px !important;
    position: relative !important;
    width: 36px !important;
}

.admin-recent-order img {
    border-radius: 4px !important;
    height: 100%;
    width: 100%;
}

.order-img-user {
    margin-top: 12px;
}

.admin-recent-order-body {
    display: flex;
    justify-content: space-between;
    flex: 1 1 !important;
    font-size: 13px !important;
    margin: 0 15px !important;
    padding: 10px;
}

.admin-recent-order-body p {
    color: #444469 !important;
    line-height: 1.3 !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.project-launch-title {
    color: #6259ca !important;
    font-weight: 900;
    font-size: 32px;
}

.project-launch-date {
    color: #444469 !important;
    line-height: 1.3 !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.orders-chart-text {
    color: #6259ca !important;
    font-weight: 700;
}

.most-seller-chart-text {
    font-size: 12px;
}

.bg-progressBc {
    background-color: #6259ca !important;
}

.most-seller-progress {
    height: 10px !important;
}

/* admin footer */
.admin-footer {
    background-color: #FFFFFF;
    border-top: 1px solid #e1e6f1;
    box-shadow: -7.829px 0px 30px 0 hsl(244deg 8% 59% / 9%);
}

/* user custom card */
.custom-card-user {
    background-color: #FFFFFF !important;
    border-radius: 15px !important;
    box-shadow: 0 10px 30px 0 rgba(98, 89, 202, 0.05) !important;
    border: 0 !important;
    margin: 10px 0 !important;
    color:  #000000 !important;
    transition: all 0.3s;
}

.user-card-line {
    content: ' ';
    border-top: 1px solid #eaedf7;
}

.custom-card-user .my-acc {
    font-size: 28px;
    font-weight: 500;
}

.user-prof-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-prof-data .user-prof-name {
    font-size: 22px;
    font-weight: 500;
    color: #465988;
    margin: 10px 0 !important;
}

.primary-color {
    color:  #6259ca !important;
}

.custom-card-user-link {
    text-decoration: none;
}

.custom-card-item-user {
    padding: 8px;
}

.custom-card-user .user-prof-list .user-prof-link {
    text-decoration: none !important;
    transition: all 0.3s;
}

.custom-card-user .user-prof-list .user-prof-link a {
    text-decoration: none !important;
    color: #3c4858 !important;
    transition: all 0.3s;
}

.custom-card-user .user-prof-list .user-prof-link li {
    padding: 10px 25px !important;
}

.custom-card-user .user-prof-list .user-prof-link:hover {
    background-color: #6259ca !important;
    color: #FFFFFF !important;
}

.custom-card-user .user-prof-list .last-link {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.custom-card-user .user-prof-list .user-prof-link:hover a {
    color: #FFFFFF !important;
}

.custom-card-user .user-prof-list .user-prof-icon * {
    font-size: 20px !important;
}

.custom-bg-success {
    background-color: #19b159 !important;
}

.custom-bg-warning {
    background-color: #ff9b21 !important;
}

.custom-bg-danger {
    background-color: #f16d75 !important;
}

.user-orders-table,
.user-orders-table th,
.user-orders-table td {
    white-space: nowrap !important;
}

.user-show-orders-link {
    text-decoration: none;
    color: #6259ca !important;
}

.user-show-orders-link:hover {
    color: #170c6b !important;
}

.order-status {
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    line-height: 10px;
    margin: 2px 8px;
    top: -9px;
    vertical-align: middle;
    width: 7px;
}

.user-orders-link {
    text-decoration: none;
    color: #3c4b64 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.user-prof-orders .card {
    border-radius: 15px;
    border: 1px solid #eaedf7;
}

.user-prof-orders .card .card-header {
    border: 1px solid #eaedf7;
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px;
}

.user-prof-orders .card .card-header a {
    color: #6259ca;
}

.user-prof-orders .card .card-header a:hover {
    color: #170c6b;
}

.user-prof-orders .user-order-title p {
    font-size: 15px !important;
    color: #647194;
    letter-spacing: 1px;
}

.user-prof-orders .user-order-title a {
    text-decoration: none !important;
}

.user-order-deliverd {
    font-weight: 700 !important;
}

/* btton style */
.my-btn-style {
    border-radius: 0 !important;
}

/* end filter */
#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.sales-chart {
    width: 75%;
    margin: auto;
}

@media (max-width: 992px) {
    .sales-chart {
        width: 100%;
    }
}

.sales-chart .recharts-surface {
    width: 100% !important;
    margin: 0 !important;
}

.products-side-search {
    background-color: #ffffff !important;
    border-radius: 20px !important;
}

.image-gallery {
    width: 100%;
    height: auto;
    /* background-color: #E0E0E0; */
}

.image-gallery-slide {
    /* height: auto; */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.item-flat {
    border-radius: 0 !important;
}

.modal-content {
    border-radius: 0 !important;
}
